{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">
        <div class="col">
        <img src="static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
    </div>
</div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Major's suite</h1>
    <p>Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
      Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
      Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
      Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
      Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
      Your home away from home set on majestic waters of Atlantic ocean, this will be vacation to remember
    </p>
    </div>
  </div>

  <div class="row">

    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>

{{end}}

{{define "js"}}
<script>

  let attention = Prompt();
  
    document.getElementById("check-availability-button").addEventListener("click", function() {
            let html = `
            <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
              <div class="form-row">
                <div class="col">
                  <div class="form-row" id="reservation-dates-modal">
                    <div class="col">
                      <input disabled required class="form-control" type="date" name="start" id="start" placeholder="Arrival">
                      </div>
                      <div class="col">
                      <input disabled required class="form-control" type="date" name="end" id="end" placeholder="Departure">
                      </div>
                      </div>
                    </div>
                  </div>
              </form>
            `
            attention.custom({
              msg: html, 
              title: "Choose your dates",
              
              willOpen: () => {
                const elem  = document.getElementById('reservation-dates-modal');
                const rp = new DateRangePicker(elem, {
                  format: 'yyyy-mm-dd',
                  showOnFocus: true,
                  })
              },
              
              didOpen: () => {
                document.getElementById('start').removeAttribute('disabled');
                document.getElementById('end').removeAttribute('disabled');
              },
              
              callback: function(result) {
                console.log("called");
  
                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
  
                fetch('/search-availability-json', {
                  method: "post",
                  body: formData,
                })
                  .then(response => response.json())
                  .then(data => {
                    console.log(data)
                    console.log(data.ok)
                    console.log(data.message)
                  })
              }
            });
          })
  
  
  function notify(msg, msgType) {
    notie.alert({
      type: msgType,
      text: msg,
    })
  }
  
  function notifyModal(title, text, icon, confirmButtonText) {
    Swal.fire({
      title: title,
      html: text,
      icon: icon,
      confirmButtonText: confirmButtonText,
    })
  }
  
  function Prompt() {
    let toast = function(c) {
      const {
        msg = "",
        icon = "success",
        position = "top-end"
      } = c;
  
    const Toast = Swal.mixin({
    toast: true,
    title: msg,
    position: position,
    icon: icon,
    showConfirmButton: false,
    timer: 3000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  })
  
  Toast.fire({})
  }
  
    let success = function (c) {
      const {
        msg = "",
        title = "",
        footer = "",
      } = c;   
      Swal.fire({
        icon: 'success',
        title: title,
        text: msg,
        footer: footer,
      })
    }
  
    let error = function (c) {
      const {
        msg = "",
        title = "",
        footer = "",
      } = c;   
      Swal.fire({
        icon: 'error',
        title: title,
        text: msg,
        footer: footer,
      })
    }
  
    async function custom(c) {
    const {
      msg = "",
      title = "",
    } = c;
  
    const { value: result } = await Swal.fire({
    title: title,
    html: msg,
    backdrop: false,
    focusConfirm: false,
    showCancelButton: true,
    willOpen: () => {
      if(c.willOpen !== undefined) {
        c.willOpen();
      }  
    },
  
    preConfirm: () => {
      return [
        document.getElementById('start').value,
        document.getElementById('end').value
      ]
    },
    didOpen: () => {
      if (c.didOpen !== undefined) {
        c.didOpen()
      }
    }
  })
  
    if(result) {
      if (result.dismiss !== Swal.DismissReason.cancel) {
        if (result.value !== "") {
          if (c.callback !== undefined) {
            c.callback(result)
          }
        } else {
            c.callback(false)
          } 
      } else {
          c.callback(false)
        }
    }
  }
  
    return {
      toast: toast,
      success: success,
      error: error,
      custom: custom,
    }
  }
  </script>
  {{end}}